<div class="dashboard-container">

  <div class="dashboard-navbar">
    <p class="p-big-black-bold">Dashboard</p>
    <div class="profile-info">
      <p class="p-black">Alfredo</p>
      <p>img</p>
    </div>
  </div>

  <div class="thisweek-container">
    <div class="stats-container">
      <p class="p-gray">Saved to favorites</p>
      <p class="p-big-black">14</p>
    </div>
    <div class="stats-container">
      <p class="p-gray">To deliver</p>
      <p class="p-big-black">9</p>
    </div>
    <div class="stats-container">
      <p class="p-gray">Delivered</p>
      <p class="p-big-black">13</p>
    </div>
  </div>

  <div class="alltime-container">
    <div class="graph-wrap">
      <div class="graph-container">
        <h3 class="h3-category">Your orders</h3>
        <div>Graph here</div>
      </div>
    </div>
    <div class="stats-wrap">
      <div class="graph-stats">
        <p class="p-gray">Delivered</p>
        <p class="p-big-black">56</p>
      </div>
      <div class="graph-stats">
        <p class="p-gray">Average delivery time</p>
        <p class="p-big-black">1 day</p>
      </div>
    </div>
  </div>

  <div class="orders-wrap">
    <div class="orders-container">
      <h3 class="h3-category">Your orders</h3>
      <div class="orders-table">
        <div class="orders-title-container">
          <div class="order-title">
            <div class="order-title-text">
              <p class="p-gray">Name</p>
            </div>
          </div>
          <div class="order-title">
            <div class="order-title-text">
              <p class="p-gray">Customer</p>
            </div>
          </div>
          <div class="order-title">
            <div class="order-title-text">
              <p class="p-gray">Status</p>
            </div>
          </div>
        </div>
        <% @user.orders.each do |order| %>
        <div class="order-card">
          <div class="order-name">
            <p class="p-black">question about that</p>
          </div>
          <div class="order-customer">
            <p class="p-black">order.user</p>
          </div>
          <div class="order-status">
            <p class="p-black">order.status</p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
