<div class="profile-container">

  <div class="profile-banner">
    <h2>Find customers for your excess produce.</h2>
    <button type="btn btn-primary">Let's go!</button>
  </div>

  <div class="produce-form">
      <div class="produce-form-top">
        <div class="produce-details">
          <p>Details</p>
          <p>Produce Name</p>
          <input type="text" name="pname">
          <p>Quantity with units</p>
          <input type="text" name="pname">
          <select required>
            <option value="kg">Kilogram</option>
            <option value="count">Count</option>
            <option value="bunch">Bunch</option>
          </select>
        </div>

        <div class="produce-image-upload">
        <button>img uploader placeholder</button>
        </div>
      </div>
        <div class="produce-form-bottom">
          <div>
          <p>Category</p>
          </div>

        <div class="produce-cards">
          <div class="card-vertical" style="background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0)),
         url('http://res.cloudinary.com/dlj1mjxjd/image/upload/c_fill,h_300,w_400/v1563986909/txo9lmnen1atmyjpfnbm.jpg')"></div>
          <div class="card-vertical" style="background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0)),
         url('http://res.cloudinary.com/dlj1mjxjd/image/upload/c_fill,h_300,w_400/v1563986915/c4hvgrkc3zlxnlsx0gt6.jpg')"></div>
          <div class="card-vertical" style="background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0)),
         url('http://res.cloudinary.com/dlj1mjxjd/image/upload/c_fill,h_300,w_400/v1563986917/aulbpui0s3rbqtnhjeii.jpg')"></div>
          <div class="card-vertical" style="background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0)),
         url('http://res.cloudinary.com/dlj1mjxjd/image/upload/c_fill,h_300,w_400/v1563986898/dmuezlgw0ybdw9eaqgel.jpg')"></div>
          <div class="card-vertical" style="background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0)),
         url('http://res.cloudinary.com/dlj1mjxjd/image/upload/c_fill,h_300,w_400/v1563986919/ir6pfpsgrazwotr4yrkd.jpg')"></div>
         </div>
        </div>
  </div>

  <div class="produce-process">
    <div>
    <p>Process</p>
    </div>
    <div class="process-step">
      <p>Post your produce.</p>
      <p>Deliver to the Hub.</p>
      <p>We take care of the rest.</p>
    </div>
  </div>
</div>
