<div class="modal fade bd-example-modal-lg" tabindex="-1" id="ModalCart"  data-spy="scroll" data-target="#myScrollspy" data-offset="20"  role="document" data-target="bd-example-modal-lg" aria-hidden="true" data-remote="true">
  <div class=" modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="cart-container">
        <%= render "shared/cart_content", order: @order %>


      </div>
    </div>
  </div>

</div>
