
  <div class="navbar-container">
    <ul>
      <li>
        <a  class="brand nav-link" href="">Suburban</a>
      </li>
    </ul>
    <ul>
      <li><a class="nav-link" href="">Log In</a></li>
      <li><a class="nav-link" href="">Get Started</a></li>
    </ul>
  </div>
