<div class="navbar-container">
  <div class="brand-container">
      <a class="brand nav-link link-white" href="">SUBURBAN</a>
  </div>
  <div class="links-container">
    <% if user_signed_in? %>
    <a class="nav-link link-white" href="">CART</a>
    <%= link_to "SIGN OUT",destroy_user_session_path, class:"nav-link link-white" %>
    <% else %>
    <%= link_to "SIGN IN", new_user_registration_path, class:"nav-link link-white" %>
    <%= link_to "SIGN UP", new_user_session_path, class:"nav-link link-white" %>
    <% end %>
  </div>
</div>
