<div class="navbar-container">
  <div class="brand-container">
      <a class="brand nav-link link-white" href="">SUBURBAN</a>
  </div>
  <div class="links-container">
    <% if user_signed_in? %>
    <a class="nav-link link-white" href="">CART</a>
    <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class:"nav-link link-white" %>
    <% else %>
    <button type="button" class="nav-link link-white" data-toggle="modal" data-target="#Modal1" id='sign-in-button'>
    SIGN IN
    </button>
    <button type="button" class="nav-link link-white" data-toggle="modal" data-target="#Modal2">
    SIGN UP
    </button>
    <% end %>
  </div>
</div>
