<div class="modal fade bd-example-modal-lg" tabindex="-1" id="PaymentModal"  data-spy="scroll" data-target="#myScrollspy" data-offset="20"  role="document" data-target="bd-example-modal-lg" aria-hidden="true" data-remote="true">
  <div class=" modal-dialog modal-lg ">
    <div class="modal-content" id="payment-container">
      <div class="fred-master">
        <div>
         <h1>Order Confirmed </h1>
         <p>Your fresh products are on their way!</p>
        </div>
        <div>
          <%= link_to image_tag("logoorange.png", width: 80, height: 80), root_path, class: "nav-link link-white" %>
        </div>
      </div>
    </div>

  </div>

</div>
