<div class="payment-container">
  <h3 class="h3-category">Checkout</h3>

  <div class="form-group-container">
    <div class="address-container">
      <p class="p-big-black">Address</p>
      <div class="form-input-container">
        <p class="label">BILLING ADDRESS</p>
        <input type="text" class="input-line">
        <div class="ship-to-different">
          <span class="checkbox">X</span>
          <p class="p-black-bold">Ship to different address</p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group-container">
    <div class="payment-container">
      <p class="p-big-black">Payment</p>
      <div class="stripe-container">
        <div class="form-input-container">
          <p class="label">CARD NUMBER</p>
          <input type="text" class="input-line">
        </div>
        <div class="form-input-container">
          <p class="label">EXP. DATE</p>
          <input type="text" class="input-line">
        </div>
        <div class="form-input-container">
          <p class="label">CVC</p>
          <input type="text" class="input-line">
        </div>
      </div>
    </div>
  </div>

  <a href="#" class="btn-primary">PAY</a>
</div>
