
<!-- Don't want to see CSS in views!!!!!!!!!!! -->
<div class="header">
  <%= video_tag "backgroundvideo.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, playsinline: :playsinline %>
    <div class="hero-container d-flex h-100 text-center align-items-center">
      <div class="w-100 text-center">
        <h1 class="display-3">Turning food waste into healthy dinners</h1>
      <div class="search-hero input-group">
       <input class="form-control string required" placeholder= "Search" type="text" name="query" id="search_query" />
       <div class="input-group-append">
        <%= link_to "DISCOVER", browse_path(@order.id), class: 'btn-hero link-white' %>
        </div>
     </div>

  </div>
</div>
</div>


<div class="tagline-secondary-container">
  <h2>Discover what suburban gardens have to offer</h2>
</div>

<div class="steps-container">
  <div class="stAt retail level, large quantities of food are wasted due to quality standards that over-emphasize appearance.eps-image-container">
    <%= image_tag("vegetables.jpg") %>
  </div>
  <div class="step-text-container">

    <div class="step-info-container">
      <h3 class="h3-category">Food not wasted</h3>
      <br>
     <ul>
       <li>Roughly one third of the food produced in the world for human consumption every year — approximately 1.3 billion tonnes — gets lost or wasted.</li>
       <br>
       <li>Food losses and waste amounts to roughly US$ 680 billion in industrialized countries and US$ 310 billion in developing countries</li>
       <br>
       <li><strong>Fruits and vegetables, plus roots and tubers have the highest wastage rates of any food.</strong></li>
       <br>
       <li>Global quantitative food losses and waste per year are roughly 30% for cereals, 40-50% for root crops, fruits and vegetables, 20% for oil seeds.</li>
       <br>
       <li>At retail level, large quantities of food are wasted due to quality standards that over-emphasize appearance.</li>
     </ul>
     <br>
      <a href="#" class="btn-small-cta link-black">POST PRODUCE</a>
    </div>

  </div>
</div>

<div class="steps-container">
  <div class="step-text-container">

    <div class="step-info-container">
      <h3 class="h3-category">Delivered to door</h3>
      <p class="p-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates porro perspiciatis aut, corrupti amet sapiente molestias? Libero, autem quidem aliquid.</p>
      <a href="#" class="btn-small-cta link-black">DISCOVER</a>
    </div>

  </div>
  <div class="steps-image-container">
    <%= image_tag("farmers.jpg") %>
  </div>
</div>

<div class="benefits-container">
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <p class="p-big-black">Easy to sell extra produce</p>
    </div>
  </div>
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <p class="p-big-black">Tackle food waste</p>
    </div>
  </div>
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <p class="p-big-black">Delicious healthy dinner</p>
    </div>
  </div>
</div>

<% if params[:signed_in] == 'false' %>
<script>
  window.addEventListener('load', (event) => {
    const button = document.getElementById('sign-in-button');
    button.click();
  });
</script>
<% end %>




<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
