
<!-- Don't want to see CSS in views!!!!!!!!!!! -->

<div class="banner-container">
  <div class="hero-container">
    <h1>Turning food waste into healthy dinners</h1>
    <div class="search-hero">
      <%= link_to "DISCOVER", products_path, class: 'btn-hero link-big-white' %>
    </div>
  </div>
</div>

<div class="tagline-secondary-container">
  <h2>Discover what suburban gardens have to offer</h2>
</div>

<div class="steps-container">
  <div class="steps-image-container">
    <%= image_tag("tomatoes.jpg") %>
  </div>
  <div class="step-text-container">

    <div class="step-info-container">
      <h3 class="h3-category">Food not wasted</h3>
      <p class="p-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates porro perspiciatis aut, corrupti amet sapiente molestias? Libero, autem quidem aliquid.</p>
      <a href="#" class="btn-small-cta link-big-black">POST PRODUCE</a>
    </div>

  </div>
</div>

<div class="steps-container">
  <div class="step-text-container">

    <div class="step-info-container">
      <h3 class="h3-category">Delivered to door</h3>
      <p class="p-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates porro perspiciatis aut, corrupti amet sapiente molestias? Libero, autem quidem aliquid.</p>
      <a href="#" class="btn-small-cta link-big-black">DISCOVER</a>
    </div>

  </div>
  <div class="steps-image-container">
    <%= image_tag("tomatoes.jpg") %>
  </div>
</div>

<div class="benefits-container">
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <p class="p-big-black">Easy to sell extra produce</p>
    </div>
  </div>
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <p class="p-big-black">Tackle food waste</p>
    </div>
  </div>
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <p class="p-big-black">Delicious healthy dinner</p>
    </div>
  </div>
</div>
