
<!-- Don't want to see CSS in views!!!!!!!!!!! -->

<div class="banner-container">
  <div class="hero-container">
    <h1>Turning food waste into healthy dinners</h1>
    <a href="" class="btn-hero">Discover</a>
  </div>
</div>

<div class="tagline-secondary-container">
  <h2>Discover what suburban gardens have to offer</h2>
</div>

<div class="steps-container">
  <div class="steps-image-container">
    <%= image_tag("tomatoes.jpeg") %>
  </div>
  <div class="step-text-container">

    <div class="step-info-container">
      <h3>Food not wasted</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates porro perspiciatis aut, corrupti amet sapiente molestias? Libero, autem quidem aliquid.</p>
      <a href="#" class="btn-small-cta">POST PRODUCE</a>
    </div>

  </div>
</div>

<div class="steps-container">
  <div class="step-text-container">

    <div class="step-info-container">
      <h3>Delivered to door</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates porro perspiciatis aut, corrupti amet sapiente molestias? Libero, autem quidem aliquid.</p>
      <a href="#" class="btn-small-cta">DISCOVER</a>
    </div>

  </div>
  <div class="steps-image-container">
    <%= image_tag("tomatoes.jpeg") %>
  </div>
</div>

<div class="benefits-container">
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <p>Easy to sell extra produce</p>
    </div>
  </div>
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <p>Tackle food waste</p>
    </div>
  </div>
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <p>Delicious healthy dinner</p>
    </div>
  </div>
</div>
