<!-- Don't want to see CSS in views!!!!!!!!!!! -->

<header>
  <%= video_tag "suburbanfarm.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, playsinline: :playsinline %>
    <div class="hero-container">
      <div class="w-100 text-center">
        <h1 class="display-3">Turning food waste into healthy dinners</h1>
      <div class="search-hero input-group">
       <input class="form-control string required" placeholder= "Search" type="text" name="query" id="search_query" />
       <div class="input-group-append">
        <%= link_to "DISCOVER", browse_path(@order.id), class: 'btn-hero link-white' %>
        </div>
     </div>

  </div>
</div>
</div>


<div class="tagline-secondary-container" id="tagline-style">
  <h2>Discover what suburban gardens have to offer</h2>
</div>
<div class="benefits-container" id="benefit-all">
  <div class="benefit-info-container">
    <img src="https://res.cloudinary.com/dur0bga45/image/upload/v1528932114/Set_and_forget.svg" alt="" class="logo-step">
    <div class="benefit-text-container">
      <h5 class="p-big-black">Why Shop Here?</h5>
      <p>We deliver fresh groceries directly <br>from local producers to your home</p>
    </div>
  </div>
  <div class="benefit-info-container">
    <img src="https://www.farmandco.com.au/assets/convenient_home_delivery-fe60b1a58c1f6a4e8e47f2030ba1b169a4d4e921651acd1fafce7f996149cfd2.svg" alt="" class="logo-step">
    <div class="benefit-text-container">
      <h5 class="p-big-black">Convenient Delivery</h5>
      <p>We understand you’re busy. <br>We make it easier by delivering direct to you. <br>From the farmers gate, to your door.</p>
    </div>
  </div>
  <div class="benefit-info-container">
    <img src="https://www.farmandco.com.au/assets/support_local-9962c80a80858db61ff53d293016b0123e58494af28d5b7bd126a58699aa9847.svg" alt="" class="logo-step">
    <div class="benefit-text-container">
      <h5 class="p-big-black">Support local producers</h5>
      <p>Trust who you're getting your food <br> from and support your neighbors</p>
    </div>
  </div>
   <div class="benefit-info-container">
    <img src="https://www.farmandco.com.au/assets/we_care-1f9b30626f116437011af2390e8f28371011f574afad63749fd3ec228e6659c0.svg" alt="" class="logo-step">
    <div class="benefit-text-container" id="">
      <h5 class="p-big-black">Eco-conscious groceries</h5>
      <p>Cut your carbon footprint and create <br> a self-sustainable community</p>
    </div>
  </div>
</div>

<div class="steps-container" >
  <div class="step-text-container">

    <div class="step-info-container" id="step-info">
      <h3 class="h3-category">Food not wasted</h3>
      <p class="p-big-black">
        We help connect busy suburban growers to people in the city.<br>
        Happy growers, happy organics shoppers, less food wasted  </p>
      <a href="#" class="btn-small-cta link-black">POST PRODUCE</a>
    </div>

  </div>
  <div class="steps-image-container">
    <%= image_tag("farmers.jpg") %>
  </div>
</div>


<div class="steps-container">
  <div class="stAt retail level, large quantities of food are wasted due to quality standards that over-emphasize appearance.eps-image-container">
    <%= image_tag("vegetables.jpg") %>
  </div>
  <div class="step-text-container">

    <div class="step-info-container" id="step-info">
      <h3 class="h3-category">Delivered to door</h3>
      <p class="p-big-black">Fresh local produce plus fast delivery to door? Woah! <br>
      Look for the best organic produce for your recipes and enjoy the luxury of to-door deliery</p>
      <a href="#" class="btn-small-cta link-black">DISCOVER</a>
    </div>

  </div>
</div>
<div class="footer">

</div>



<!-- <div class="benefits-container">
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <h4 class="p-big-black">Why Shop Here?</h4>
      <p>We deliver fresh groceries directly <br>from local producers to your home</p>
    </div>
  </div>
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <h4 class="p-big-black">Convenient Delivery</h4>
      <p>We understand you’re busy. <br>We make it easier by delivering direct to you. <br>From the farmers gate, to your door.</p>
    </div>
  </div>
  <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <h4 class="p-big-black">Support local producers</h4>
      <p>Trust who you're getting your food <br> from and support your neighbors</p>
    </div>
  </div>
   <div class="benefit-info-container">
    <img src="#" alt="" class="logo-step">
    <div class="benefit-text-container">
      <h4 class="p-big-black">Eco-conscious groceriesr</h4>
      <p>Cut your carbon footprint and create <br> a self-sustainable community</p>
    </div>
  </div>
</div> -->

<% if params[:signed_in] == 'false' %>
<script>
  window.addEventListener('load', (event) => {
    const button = document.getElementById('sign-in-button');
    button.click();
  });
</script>
<% end %>




<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div> -->
