<div class="main-container" style="display: flex;">
  <div class="payment-page-container">
    <div class="payment-page" id="payment-page" data-order-id="<%= @order.id %>">
       <div class='payment-card'>
          <p class= "h3-category" style="margin-top: 50px;">Checkout</p>
          <div class='checkout-form'>
            <form action="/action_page.php">
              <label>
              BILLING ADDRESS </label> <br> <input type="text" name="fname" id="search_query">
            </form>
          </div>
          <div class='checkout-form'>
            <form action="/action_page.php">
              <label>
            SHIPPING ADDRESS
            </label> <br> <input type="text" name="fname" id="shipping_query">
            </form>
          </div>
      </div>


      <form action="/orders/<%= @order.id %>/payment" method="post" id="payment-form">
        <div class="form-row">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>


          <label for="card-element">
            PAYMENT
          </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display Element errors. -->
          <div id="card-errors" role="alert"></div>
        </div>


        <button class="btn-pay" style="margin-bottom: 10px;">PAY</button>
      </form>
      </div>
  </div>
  <div class="payment-page-image">
    <img src="https://images.unsplash.com/photo-1495908333425-29a1e0918c5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" style="border-radius: 3px; padding-left: 100px; padding-top: 55px; height: 455px; width: 500;">
  </div>

</div>


<%= render "shared/payment_modal", order: @order %>

<button class="d-none" data-toggle="modal" data-target="#PaymentModal" id="payment-modal-button">Open Payment Modal</button>
<!-- <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_JXtDUbkLdGhkhPEba1WpAP1G00w9JNw998');
  // ...
</script>

<%#= form_for(@order, url:  order_payments_path, html: {id: "payment-form"}) do |f| %>

  <fieldset class="credit_card">
    <div class="payment-errors">
      <label class="control-label col-sm-2" for="credit-card-number">Credit Card Number
        <input class="form-control" id="credit-card-number" type="text", data-stripe="number"></input>
      </label>
      <label class="control-label col-sm-2" for="securtity-code">Security Code
        <input class="form-control" id="security-code" type="test" data-stripe="cvc"></input>
      </label>
      <label class="control-label col-sm-2">Expiration
        <%#= select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: "exp-month"}) %>
        <%#= select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: "exp-year"}) %>
        <input type="submit" value="Pay Now!"></input>
      </label>
    </div>
  </fieldset>
<#% end %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>









  <div class='payment-container'>
    <div class='payment-card'>
      <h1>Checkout</h1>
      <div class='checkout-form'>
      <form action="/action_page.php">
      Billing Address: <br> <input type="text" name="fname" id="search_query">
      </form>
      </div>
      <div class='checkout-form'>
      <form action="/action_page.php">
      Shipping Address: <br> <input type="text" name="fname" id="shipping_query">
      </form>
      </div>

    <div class='card-fields'>
      <div class='checkout-form'>
        <form action="/action_page.php">
      Card Number: <br> <input type="text" name="fname">
      </form>
      </div>
      <div class='checkout-form'>
        <form action="/action_page.php">
      Expiration Date: <br> <input type="text" name="fname">
      </form>
      </div>
      <div class='checkout-form'>
        <form action="/action_page.php">
      CVV: <br> <input type="text" name="fname">
      </form>
      </div>
    </div>

      <%#= form_tag order_payments_path(@order) do %>
        <article>
          <label class="amount">
            <span>Amount: <%#= humanized_money_with_symbol(@order.price_cents) %></span>
          </label>
        </article>


        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%#= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Produce Order"
          data-email="<%#= current_user.email %>"
          data-description="Order <%#= @order.id %>"
          data-amount="<%#= @order.price_cents %>"
          data-currency="EUR"></script>
      <#% end %>
      <p><%#= link_to 'Go back home', root_path %></p>

    </div>
  </div>


 -->
