.banner-container {
  background-image: $linear-gradient, image-url("leaves.png");
  background-size: cover;
  padding: $padding-standard-x;
  height: 80vh;
  display:flex;
  align-items: center;
}

.hero-container {

}

h1 {
  color: $white;
  font-size: 67px;
}
.search-hero {
  height: 21px;
  width: 40vw;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}
.btn-hero {
  padding: 32px;
  color: white;
}
