// .banner-container {
//   background-size: cover;
//   padding: $padding-standard-x;
//   height: 80vh;
//   display:flex;
//   align-items: center;
//   overflow: hidden;
// }
.video-container{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.video-overlay{
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  background: $linear-gradient;
  opacity: 1;
  position: absolute;
  top: 0;
}
.banner-video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  position: absolute;
  top: 0;
}
.hero-container {
  position: absolute;
  top: 60vh;
  width: 100vw;
  z-index: 10;
}

.hero-container h1 {
  text-shadow: 1px 2px $light-gray;
  color: $white;
  font-size: 67px;
  opacity: 0;
  transition: opacity 3s ease 1s;
}
.search-hero {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  flex-wrap: nowrap;
  width: 40%;
  margin: 0 auto;
  #search_query {
    width: 100%;

  }
}
.btn-hero {
  padding: 0px 28px;
  display: flex;
  color: white;
  margin-left: -10px;
  z-index: 50;
  background-color: $primary !important;
  align-items: center;
  border-radius: $border-radius;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}
.header {
  position: absolute;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.header .banner-container {
  position: relative;
  z-index: 2;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
