// This is where we will have the benefits of what suburban farm does like minimize food waste

#benefit-all {
  padding: 13px 20px;
}

#tagline-style {
  padding: 75px;
}

#step-info {
  margin-top: 21px;
}
