//  all of our buttons will go in here

// For padding only those values

$button-y-padding: 16px;
$button-x-padding: 32px;

// For border radius look into config/colors




// Try to do two-three button classes
.btn-hero {
 background: $primary;
}

.btn-plusminus {
  display: flex;
  justify-content: space-between;
  background: $primary;
  color: white;
  width: 90px;
  padding: 8px 16px;
  border-radius: $border-radius-sm;
}
