//  all of our buttons will go in here

// For padding only those values

$button-y-padding: 16px;
$button-x-padding: 32px;

// For border radius look into config/colors




// Try to do two-three button classes
.btn-hero {
 background: $dark-gray;

}
