.card-horizontal .cart-product-checkout {
  letter-spacing: 0px;
  vertical-align: middle;
  justify-content: flex-start;
  transform: translate(0px, 0px);
  line-height: 18.75px;
  left: 28.2738%;
  right: 35.5244%;
  top: 10.84%;
  bottom: 75.9%;
}
