.cart-container {
  display: flex;
}
.modal-content {
  width: 800px;
  display: flex;
  overflow-wrap: normal;
  padding: $padding-standard-y $padding-standard-x;
}
.items-container {
  width: 50vw;
}
.purchase-info-container {
  margin-left: $padding-standard-x;
  width: 50vw;
}
.product_order_container {
  display: flex;

}
.btn-cart-container {
  margin-bottom: 10px;
}
.cart-info-container {
  display: flex;
  justify-content: space-between;
}


.cart-buttons-container {
  width: 100%;
  display: flex;
  // justify-content: flex-end;
  align-items: center;
  justify-content: center;
}
.cart-quantity-checkout{
  margin: 0 15px;
}
.cart-btn-plusminus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $primary;
  a{
    color: white;
    display: block;
  }
}
