// this is for card-products and for any type of card that we want to have vertical
.card-vertical {
  padding: 16px;
  background-image: $linear-gradient;
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 16vw;
  border-radius: $border-radius;
  height: 21vw;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.product-info-container {
  width: 100%;
  color: $white;
  display: flex;
  flex-direction: column;
}

.product-description {
  width: 100%;
  flex-grow: 1;
  justify-content: center;
}

.product-info-btn {
  display: none;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}
.card-vertical:hover + .btn-plusminus, .btn-plusminus:hover {
  background-color: blue;
}

