// this is for the card basket and whatever else we need to use a horizontal for
.card-horizontal {
  display: flex;
  width: 400px;
  background-color: $light-gray;
  border-radius: $border-radius;
}
.product-order-container {
  display: flex;
}
.product-image {
  width: 89px;
  height: 89px;
  overflow: hidden;
}
.product-image img {
  height: 100%;
  object-fit: cover;
}
