#info-modal {
opacity: 1;
filter: alpha(opacity=100);
padding: 60px;
}

.modal-dialog {
  padding: 10px;
}

.modal-content {
  margin-left: 50px;
}

#producer-name {
  text-align: center;

}

.producer-info {
  display: block;
  text-align: -webkit-left;
  width: 25%;
  height: 100%;
  padding-right: 50px;

}

#producer-location {
  text-align: center;
}
