.navbar-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 55px;
  background-color: white;
  opacity: 0.3;
}

.nav-link {
  display: block;
  color: $black !important;
}

.links-container {
  display: flex;
}
.link-white{
  background-color: transparent;
  border: none;
}
