.navbar-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  display: block;
  color: $black;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

.links-container {
  display: flex;
}
