#payment-container {
  background-image: url("https://images.unsplash.com/photo-1528887772422-c57c1db7f5d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
  background-size: cover;
  padding: 60px 80px;
  background-position: center;

}

.fred-master {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgba(200, 200, 200, 0.8);
  padding: 40px 10px;
}




