#payment-container {
  background-image: url("https://images.unsplash.com/photo-1528887772422-c57c1db7f5d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
  background-size: cover;
  padding: 60px 80px;
  background-position: center;

}

.fred-master {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid white;
  text-align: center;
  padding: 40px 10px;
}


.confirmation-image {
  width: 80px;
  height: 80px;
}
