<div class="shop-container">
  <div class="sidebar-container">
    <h2 class="sidebar-h2">Fruits</h2>
    <h2 class="sidebar-h2">Vegetables</h2>
    <h2 class="sidebar-h2">Eggs</h2>
    <h2 class="sidebar-h2">Wine</h2>
  </div>

  <div class="categories-container">
    <div class="category-container">
      <h2>Fruits</h2>
      <div class="cards-container">
        <div class="card-vertical">
          <div class="product-info-container">
            <div class="product-description">
              <p>Pau's Apples</p>
              <div class="product-info-price">5 E</div>
            </div>
            <div class="product-info-btn">
              <a href="#" class="btn-plusminus">- 0 +</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="category-container">
      <h2>Vegetables</h2>
      <div class="cards-container">
        <div class="card-vertical">
          <div class="product-info-container">
            <div class="product-description">
              <p>Simon's cabbage</p>
              <div class="product-info-price">100 E</div>
            </div>
            <div class="product-info-btn">
              <a href="#" class="btn-plusminus">- 0 +</a>
            </div>
          </div>
        </div>
        <div class="card-vertical">
          <div class="product-info-container">
            <div class="product-description">
              <p>Simon's cabbage</p>
              <div class="product-info-price">100 E</div>
            </div>
            <div class="product-info-btn">
              <a href="#" class="btn-plusminus">- 0 +</a>
            </div>
          </div>
        </div>
        <div class="card-vertical">
          <div class="product-info-container">
            <div class="product-description">
              <p>Simon's cabbage</p>
              <div class="product-info-price">100 E</div>
            </div>
            <div class="product-info-btn">
              <a href="#" class="btn-plusminus">- 0 +</a>
            </div>
          </div>
        </div>
        <div class="card-vertical">
          <div class="product-info-container">
            <div class="product-description">
              <p>Simon's cabbage</p>
              <div class="product-info-price">100 E</div>
            </div>
            <div class="product-info-btn">
              <a href="#" class="btn-plusminus">- 0 +</a>
            </div>
          </div>
        </div>
        <div class="card-vertical">
          <div class="product-info-container">
            <div class="product-description">
              <p>Simon's cabbage</p>
              <div class="product-info-price">100 E</div>
            </div>
            <div class="product-info-btn">
              <a href="#" class="btn-plusminus">- 0 +</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="category-container">
      <h2>Eggs</h2>
      <div class="cards-container">

      </div>
    </div>

    <div class="category-container">
      <h2>Wine</h2>
      <div class="cards-container">

      </div>
    </div>
  </div>
</div>

