.profile-container {
  display: flex;
  flex-direction: column;

h2 {
  font-family: 'Avenir-Medium';
  margin-top: 48px;
  margin-bottom: 32px;
  font-size: 32px;
  margin-left: $padding-standard-x;
  }
}

.produce-form {
  margin-top: 8px;
  display: block;
  background-color: $light-gray;
  width: 750px;
  margin-left: $padding-standard-x;
  margin-bottom: 48px;
}
.produce-form-top{
  margin: 18px;
  margin-right: 0px;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  width: 900px;
}
.produce-details {
  width: 400px;
  input[type=text] {
  border: none;
}
}
.produce-image-upload {
  display: flex;
  justify-content: flex-end;
  width: 506px;
  padding-left: 22px;
}
.produce-form-bottom {
  display: block;
  justify-content: space-between;
  margin: 18px;
  padding: 12px;
    .card-vertical {
      margin: 12px;
    }
}
.produce-cards {
  display: flex;
  justify-content: space-between;
}
.produce-process {
  width: 950px;
  border: 1px solid black;
  p {
    padding-left: 30px;
  }
}

.produce-categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
    .stats-container {
      width: 120px;
    }
    .stats-container {
      &.selected {
        background-color: $white;
        color: $dark-gray;
      }
    }
}
#quantity-form {
  width: 75px;
}
label {
  color: $dark-gray;
  font-size: 13px;
  letter-spacing: 1px;
}


.photo-uploader {
  @extend .custom-file;
  // font-size: 2rem;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  height: auto !important;
  input{
    // @extend .custom-file-input;
    background-color: $dark-gray;
    font-size: 2rem;
  }
  label{
    @extend .custom-file-label;
    border: 1px solid #EFEFEF !important;
    text-align: center;
    font-size: 2rem;
    color: $light-gray;
    height: 150px;
    display: block;
    &::after{
      content: '';
      background-color: transparent;
      border: none;
      display: none;
    }
  }
}

.form-control-file, .form-control-range {
    display: block;
    width: 150px;
}
.photo-uploader label {

    border: 1px solid #EFEFEF !important;
    text-align: center;
    margin: auto 0;
    font-size: 16px;
    color: $lighter-gray;
    width: 150px;
    &:focus, &:active{
      border: 1px solid $primary !important;
    }
}
.photo-uploader input {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    width: 150px;
    height: 150px;
    visibility: hidden;
  }
  .produce-steps {
    display: flex;
    justify-content: space-around;
    margin-top: 36px;
    padding-left: $padding-standard-x;
    padding-right: $padding-standard-x;
  }
  .produce-steps-header {
    font: $headers-font;
    padding-left: $padding-standard-x;

  }

.produce-steps-box {
  background-color: $light-gray;
  height: 327px;
  width: 328px;
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 32px !important;
  border-radius: 10px;
}

.produce-steps-number{
    width: 40px !important;
    height: 40px !important;
    position: relative !important;
    line-height: 37px !important;
    text-align: center !important;
    font-size: 18px !important;
    font-weight: bold !important;
    border-radius: 50% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: #F6613F !important;
    border-image: initial !important;
    color: #F6613F;
}
.produce-steps-content {
  overflow-wrap: break-word !important;
    font-family: 'Avenir-Light';
    font-size: 24px !important;
    font-weight: 800 !important;
    line-height: 1.25em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
    p {
      margin-top: 25px;
    }
}
.produce-steps-text {
    overflow-wrap: break-word !important;
    font-family: 'Avenir-Light' !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
}
#submit-button-form {
  background-color: $primary;
  border: none;
  margin-top: -25px;
}

.photo-uploader-embed-container{
  width: 100px;
  height: auto;
}

.photo-uploader-embed {
  width: 100%;
}
.produce-form-title {
  padding-left: $padding-standard-x;
}
.post-input {
  border: none;

}
